<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maochengli.mapper.ItemsCustomerMapper">

    <resultMap id="itemCommentVo" type="com.maochengli.vo.ItemCommentVo">
        <result column="commentLevel" property="commentLevel" jdbcType="INTEGER"></result>
        <result column="content" property="content" jdbcType="VARCHAR"></result>
        <result column="specName" property="specName" jdbcType="VARCHAR"></result>
        <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP"></result>
        <result column="specName" property="specName" jdbcType="VARCHAR"></result>
        <result column="userFace" property="userFace" jdbcType="VARCHAR"></result>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"></result>
    </resultMap>

    <resultMap id="searchItemVo" type="com.maochengli.vo.SearchItemVo">
        <id    column="itemId" property="itemId" jdbcType="VARCHAR"></id>
        <result column="sellCounts" property="sellCounts" jdbcType="INTEGER"></result>
        <result column="imgUrl" property="imgUrl" jdbcType="VARCHAR"></result>
        <result column="price" property="price" jdbcType="INTEGER"></result>
    </resultMap>



    <!--查询评价-->
    <select id="queryItemComments" parameterType="map" resultMap="itemCommentVo">
        SELECT
        i.comment_level as commentLevel,
        i.content as content,
        i.sepc_name as specName,
        i.created_time as createdTime,
        u.face as userFace,
        u.nickname as nickname
        FROM items_comments i
        LEFT JOIN users u
        ON i.user_id = u.id
        WHERE
        i.item_id = #{paramsMap.itemId}
        <if test="paramsMap.level != null and paramsMap.level != ''">
            AND i.comment_level = #{paramsMap.level}
        </if>

    </select>

    <!--搜索查询-->
<!--    K: 默认排序-->
<!--    c: 销量排序-->
<!--    p: 价格排序-->
    <select id="searchItems" parameterType="map" resultMap="searchItemVo">
        SELECT
            a.id AS itemId,
            a.item_name AS itemName,
            a.sell_counts AS sellCounts,
            b.url AS imgUrl,
            c.price_discount AS price
        FROM
            items a
            LEFT JOIN items_img b ON a.id = b.item_id
            LEFT JOIN ( SELECT item_id, MIN( price_discount ) AS price_discount FROM items_spec GROUP BY item_id ) c ON a.id = c.item_id
        WHERE
            b.is_main = 1
        <if test="paramsMap.keyword != null and paramsMap.keyword != ''">
            AND a.item_name like "%${paramsMap.keyword}%"
        </if>
        order by
        <choose>
            <when test="paramsMap.sort == &quot;c&quot;">
                a.sell_counts desc
            </when>
            <when test="paramsMap.sort == &quot;p&quot;">
                c.price_discount asc
            </when>
            <when test="paramsMap.sort == &quot;k&quot;">
                a.item_name asc
            </when>
        </choose>
    </select>


</mapper>