<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maochengli.mapper.ItemsCustomerMapper" >
    
    <resultMap id="itemCommentVo" type="com.maochengli.vo.ItemCommentVo">
        <result column="commentLevel" property="commentLevel" jdbcType="INTEGER"></result>
        <result column="content" property="content" jdbcType="VARCHAR"></result>
        <result column="specName" property="specName" jdbcType="VARCHAR"></result>
        <result column="createdTime" property="createdTime" jdbcType="TIMESTAMP"></result>
        <result column="specName" property="specName" jdbcType="VARCHAR"></result>
        <result column="userFace" property="userFace" jdbcType="VARCHAR"></result>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"></result>
    </resultMap>


    <select id="queryItemComments" parameterType="map" resultMap="itemCommentVo">
        SELECT
            i.comment_level as commentLevel,
            i.content as content,
            i.sepc_name as specName,
            i.created_time as createdTime,
            u.face as userFace,
            u.nickname as nickname
        FROM items_comments i
        LEFT JOIN users u
        ON i.user_id = u.id
        WHERE
        i.item_id = #{paramsMap.itemId}
        <if test="paramsMap.level != null and paramsMap.level != ''">
          AND  i.comment_level = #{paramsMap.level}
        </if>

    </select>
</mapper>